DATABASE_URL=#the connection string for your postgres instance
NEXT_AUTH_SECRET=#Required for auth - it can be any string
ADMIN_PASSWORD=#Create an admin password to allow for admin tasks. It can be any string