@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --amber: #461901;
  --list-hover: oklch(96.2% 0.059 95.617);
  --greyed-out: oklch(55.1% 0.027 264.364);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-amber-background: var(--amber);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-list-hover: var(--list-hover);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

* {
  font-family: "Geist Mono", monospace;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  border-radius: 4px;
  margin-right: 2px;
  opacity: 0.6;
  filter: invert(0.8);
}

button.flatStyle {
  cursor: pointer;
  border: 1px solid var(--foreground);
  border-radius: 5px;
  padding: 5px
}

button.flatStyle:hover,
a:link.flatStyle:hover {
  background-color: var(--foreground);
  color: var(--background);
}

button.flatStyle:disabled,
button.flatSTyle:disabled:hover {
  background-color: var(--greyed-out);
  opacity: 0.2;
  cursor: not-allowed;
}

button.responsiveStyle {
  background-color: var(--greyed-out);
  opacity: 0.2;
  cursor: not-allowed;
}

a:link.flatStyle {
  border: 1px solid var(--foreground);
  border-radius: 5px;
  padding: 5px
}